<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
<head>
<title> Group Ride | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
<p>BikePartyUP is a project build by <a href="http://www.marcushsmith.com/">Marcus Smith</a> to connect cyclist.</p> 
<p>For years cyclists have searched email groups and internet message boards for rides. We have spent many hours sifting through email chains of unrelated events at times and locations that aren't specifically relavent to us. BikePartyUP seeks to solve this problem by allowing users to easily create and find ride that fit their needs.</p>
<p><a href="http://www.twitter.com/_mhsmith_">@_mhsmith_</a> has been racing since he was 10 and is now going to school at UC Berkeley. This is a side project originally used to learn Ruby on Rails and is now an exciting experiment. I hope you and enjoy it and I appreciate any feedback.</p> 
</body>
</html>
