<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
<head>
<title> Group Ride | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
<p>A project build by <a href="http://www.marcushsmith.com/">Marcus Smith</a> to connect cyclist.
</p> </body>
</html>
