<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
<p>If you have any questions, comments, advice, or ideas you can reach me at my twitter <a href="http://www.twitter.com/_mhsmith_">@_mhsmith_</a>.
</p> </body>
</html>