<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Event Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Group Ride</h1>
<h2>
Connecting Cyclists
</h2>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
</div>
<% end %>